<% provide(:title, 'All participants') %>
<h1>All participants</h1>

<%= will_paginate :inner_window => 2, :outer_window => 0 %>

<ul class="index users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user do %>
        <% if user.twitter_user_url %>
          <%= image_tag(user.twitter_user_url, :height=>"100px", :width=>"100px", :class=>"gravatar") %>
        <% else %>
          <%= gravatar_for user, size: 100 %>
        <% end %>
        <span class="user-name"><%= user.name||="Private" %></span>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate :inner_window => 2, :outer_window => 0 %>
