<% provide(:title, 'All participants') %>
<h1>All participants</h1>

<%= will_paginate :inner_window => 2, :outer_window => 0 %>

<ul class="index users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user do %>
        <%= render 'user_profile_image', user: user %>
        <span class="user-name"><%= user.name||="Private" %></span>
      <% end %>
      <% if current_user.admin %><div class="delete-user-link"><%= link_to "Delete user", admin_destroy_user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete user "+user.name } %></div><% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate :inner_window => 2, :outer_window => 0 %>
