<% provide(:title, 'All participants') %>
<h1>All participants</h1>

<%= will_paginate :inner_window => 2, :outer_window => 0 %>

<ul class="index users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user do %>
        <%= render 'user_profile_image', user: user %>
        <span class="user-name"><%= user.name||="Private" %></span>
      <% end %>
      <% if can? :edit, user %><div class="edit-delete-user-link"><%= link_to "Edit/delete", edit_user_registration_path %></div><% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate :inner_window => 2, :outer_window => 0 %>
