<% provide(:title, 'User profile') %>

<div class="profile-head">
  <%= render 'user_profile_image', user: @user %>
  <div class="profile-name"><%= @user.name||="Private" %></div>
  <div class="profile-contact">
    <% if current_user.id==@user.id %>
      <%= link_to "Edit/delete your account", edit_user_registration_path %><br>
      <% if !current_user.twitter_key %>
        <%= link_to "Connect to Twitter", user_twitter_omniauth_authorize_path %>
      <% else %>
        <%= link_to "Disconnect from Twitter", '/twitter_disconnect.html' %>
      <% end %>
    <% else %>
      <%= mail_to @user.email, "Contact" %>
    <% end %>
  </div>
</div>

<%= will_paginate @projects, :inner_window => 2, :outer_window => 0 %>

<div>
  <% if @user.projects.any? %>
    <h4><%= @user.name %> has <%= pluralize(@user.projects.count, 'project') %></h4>
    <ul class="index">
      <%= render @projects %>
    </ul>
  <% end %>
</div>

<%= will_paginate @projects, :inner_window => 2, :outer_window => 0 %>

<% if (can? :create, Project) && current_page?(user_path(current_user.id)) %>
  <p class="new-project"><%= link_to "List a new project", new_project_path %></p>
<% end %>
