<% provide(:title, 'User profile') %>

<div class="profile-head">
  <%= gravatar_for @user, size: 100 %>
  <div class="profile-name"><%= @user.name||="Private" %></div>
  <div class="profile-contact"><%= mail_to @user.email, "Contact" %></div>
  <div class="profile-edit">
    <% if current_user.id==@user.id %>
      <%= link_to "Edit your details", edit_user_registration_path %>
    <% end %>
  </div>
</div>

<div>
  <% if @user.projects.any? %>
    <h4><%= @user.name %> has <%= pluralize(@user.projects.count, 'project') %></h4>
    <ol class="index">
      <%= render @projects %>
    </ol>
  <% end %>
  <p class="new-project"><%= link_to "List a new project", new_project_path %></p>
</div>
