<% provide(:title, 'User profile') %>
<h3>
  <li>
    <div><%= gravatar_for @user, size: 100 %></div>
    <div><%= @user.name||="User "+@user.id.to_s %></div>
    <div><%= link_to "Contact", @user.email if @user.email%></div>
  </li>
</h3>

<div>
  <% if @user.projects.any? %>
    <h3>Projects (<%= @user.projects.count %>)</h3>
    <ol class="projects">
      <%= render @projects %>
    </ol>
  <% end %>
  <p><%= link_to "List a new project", new_project_path %>
</div>
