<li id="project-<%= project.id %>">
  <div class="name"><%= project.name %></div>
  <div class="user"><%= link_to project.user.email, project.user %></div>
  <div class="description"><%= project.description %></div>
  <div class="timestamp">
    Listed <%= time_ago_in_words(project.created_at) %> ago.
  </div>
</li>
