<li id="project-<%= project.id %>">
  <div>
    <strong><% if current_page?(action:'index') %>
      <%= link_to project.name, project_path(project.id) %>
    <% else %>
      <%= project.name %>
    <% end %></strong>
  </div>
  <% if current_page?(controller:'projects') %>
    <div><%= link_to project.user.name||="User "+project.user.id.to_s, project.user %></div>
  <% end %>
  <div><%= project.description %></div>
  <% unless project.source == "" %>
    <div><a href="<%= project.source %>">Source</a></div>
  <% end %>
  <br>
  <div>
    Listed <%= time_ago_in_words(project.created_at) %> ago.
  </div>
  <br><br>
</li>
