<li id="project-<%= project.id %>">
  <div><strong><%= project.name %></strong></div>
  <div><%= link_to project.user.email, project.user %></div>
  <div><%= project.description %></div>
  <div><a href="<%= project.source %>">Source</a></div>
  <div>
    Listed <%= time_ago_in_words(project.created_at) %> ago.
  </div>
  <br>
</li>
