<%= form_for (@project) do |f| %>
  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.label :description %>
  <%= f.text_area :description, :rows => 3 %></div>

  <div><%= f.label :source %>
  <%= f.url_field :source %></div>

  <div><%= f.submit "Create my project" %></div>
<% end %>
